.about {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
}

.aboutTop {
  width: 100%;
  height: 45%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutBottom {
  text-align: center; /* Center text */
  margin-top: 50px;
  max-width: 1200px; /* Set maximum width for text */
}

.aboutBottom h1 {
  font-weight: 400;
  font-size: 70px;
  color: black;
  margin-bottom: 10px; /* Add some space below the heading */
}

.aboutBottom p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px; /* Adjust font size */
  color: #333; /* Adjust text color */
}
